@import "compass_twitter_bootstrap";

body {
	background: url(../images/Highway.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hero-unit, .well {
    opacity: 0.96; /* opacity [0-1] */
    -moz-opacity: 0.96; /* opacity [0-1] */
    -webkit-opacity: 0.96; /* opacity [0-1] */
}

.radio {
    margin-right: 10px;
}

.notificationLink {
    margin-right:0 !important;
}

#notifications:hover
{
    cursor:pointer;
}