.match {
    min-width:          330px;
    background-color:   #ccc;
    border-radius:      5px;
    margin-bottom:      2px;
    text-align:         right;

}
.match thead{
    font-weight: bold;
}
.match tr{
    border-bottom:      solid #EEE 2px;
    border-radius:      20px;
}
.match td{

    padding-left:       15px;
}
.center-border{
    border-right:       solid #EEE 2px;
}