.disclosure {
    background-image: url('../images/disclosure.png');
    background-repeat: no-repeat;
    background-position: center right;
    width: 50px;
    height: 50px;
    margin-right: -6px;
    margin-top: -25px;
}

.nav li a {
    margin-right: -6px;
    #padding-right: 50px;
}

.nav li a:hover {
    #padding-right: 50px;
}