<div class="row">
    <div class="span6">
        <div class="hero-unit">
            <h3>Enter a trip request</h3>
            <div class="control-group">
                <label class="control-label" for="from">From</label>
                <div class="controls">
                    <input type="text" id="from" placeholder="Enter your start location">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="to">To</label>
                <div class="controls">
                    <input type="text" id="to" placeholder="Enter your end location">
                </div>
            </div>
            <div class="control-group">
                <div class="input-append bootstrap-timepicker-component timepicker-default">
                    <input type="text" readonly="readonly" class="input-small">
                    <span class="add-on">
                        <i class="icon-time"></i>
                    </span>
                </div>
                <div class="form-inline">
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="departure-time" value="departure-time" checked>
                        Departure
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="arrival-time" value="arrival-time">
                        Arrival
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary" id="trip-request-submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="span6">
            <div id="trip-request-view" >
            </div>
        </div>
        <div class="span6">
            <div id="trip-matches">
            </div>
        </div>
    </div>
</div>

