<div class="row">
    <div class="span5">
        <div class="well">
            <h3>Enter a trip request</h3>
            <div class="control-group">
                <label class="control-label" for="from">From</label>
                <div class="controls">
                    <input type="text" id="from" placeholder="Enter your start location">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="to">To</label>
                <div class="controls">
                    <input type="text" id="to" placeholder="Enter your end location">
                </div>
            </div>
            <div class="row">
                <div class="control-group span2">
                    <label class="control-label" for="departure-start">Departure start</label>
                    <div class="controls">
                        <input class="input-small" type="text" id="departure-start" placeholder="Dep. start">
                    </div>
                </div>
                <div class="control-group span2">
                    <label class="control-label" for="departure-end">Departure end</label>
                    <div class="controls">
                        <input class="input-small" type="text" id="departure-end" placeholder="Dep. end">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="control-group span2">
                    <label class="control-label" for="arrival-start">Arrival start</label>
                    <div class="controls">
                        <input class="input-small" type="text" id="arrival-start" placeholder="Arrival start">
                    </div>
                </div>
                <div class="control-group span2">
                    <label class="control-label" for="arrival-end">Arrival end</label>
                    <div class="controls">
                        <input class="input-small" type="text" id="arrival-end" placeholder="Arrival end">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary" id="trip-request-submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="span7">
        <div class="span7">
            <div id="trip-request-view" >
            </div>
        </div>
        <div class="span7">
            <div id="trip-matches">
            </div>
        </div>
    </div>
</div>

