<div class="row-fluid show-grid">
  <div class="span4"></div>
  <div class="span4 well">
      <h3>Login</h3>
      <div class="control-group">
          <p id="error" class="error"></p>
          <label class="control-label" for="username">Username</label>
          <div class="controls">
              <input type="text" name="username" id="username" placeholder="Enter your username" >
          </div>
          <label class="control-label" for="password">Password</label>
          <div class="controls">
              <input type="password" name="password" id="password" placeholder="Enter your password">
          </div>
          <button type="submit" class="btn btn-primary" id="login-submit">Submit</button>


      </div>
  <div class="span2 pull-right">
    <div class="control-group">
        <a href="#register">Register</a>
    </div>
  </div>
 </div>

