<div class="well">
    <div clas="tabbable tabs-left">
        <ul class="nav nav-tabs">
            {{#each matches}}
            <li>
                <a href="#match{{match_id}}" data-toggle="tab">
                    From {{offer_origin}}
                    To {{offer_destination}}
                </a>
            </li>
            {{/each}}
        </ul>
        <div class="tab-content">
            
            <div class="tab-pane active" id="match1">
                blalalalalalablalalalallballala
                niet zeker wat hier komt te staan!
            </div>
        </div>
    </div>
</div>