<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
        <a class="brand" href="#">Shuttledrive</a>
        <ul class="nav">
            <li><a href="#tripOffer">Trip Offer</a></li>
        </ul>
        <div class="pull-right span2">
            <ul class="nav">
                <li><a href="#notifications">Notifications 
                    {{#if notifications }}
                        <span class="badge badge-important">{{notifications}}</span>
                    {{/if}}
                </a></li>   
            </ul>
        </div>
    </div>
  </div>
</div>