<div id="notification-{{id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="notification-{{id}}" aria-hidden="true">
    <div class="modal-body">
        state: {{tripMatch.state}} <br>
        TODO: Put well written message here
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger modal-dismiss" data-dismiss="modal" aria-hidden="true">Deny</button>
        <button class="btn btn-success modal-dismiss" data-dismiss="modal" class="confirm">Confirm</button>
    </div>
</div>
