 <ul class="nav">
    <li id="fat-menu" class="dropdown">
      <a href="#" id="notifications-dropdown" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="badge badge-important" id="notification-count">{{notifications.length}}</span></a>
      <ul id="notifications-content" class="dropdown-menu" role="menu" aria-labelledby="notifications-dropdown">
      </ul>
    </li>
</ul>
