{{#each notifications}}
    <li><a href="#notification-{{id}}" class="notification-list-item" data-id="{{id}}" id="modal-{{id}}" class="notificationLink" data-toggle="modal">{{title}}</a></li>
{{/each}}
