<div class="row" data-error-style="inline">
    <div class="span12">
        <div class="well">
            <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active" id="nav_requests"><a data-toggle="tab">Trip requests</a></li>
                    <li id="nav_offers"><a data-toggle="tab">Trip offers</a></li>
                    <li id="nav_matches"><a data-toggle="tab">Matches</a></li>
                </ul>
                <div id="middle-tab-content" class="span4">
                </div>
                <div id="right-tab-content" class="span5">
                </div>
            </div>
        </div>
    </div>
</div>