<div class="row" data-error-style="inline">
    <div class="span12">
        <div class="well">
            <h1>My trips</h1>
            <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
                <ul id="overview-tabs" class="nav nav-tabs">
                    <li class="active" id="nav_requests"><a data-toggle="tab">My requests</a></li>
                    <li id="nav_offers"><a data-toggle="tab">My offers</a></li>
                    <!-- <li id="nav_matches"><a data-toggle="tab">My matches</a></li> -->
                </ul>
                <div id="middle-tab-content" class="span4">
                </div>
                <div id="right-tab-content" class="span5">
                </div>
            </div>
        </div>
    </div>
</div>